#fileInfo 
  .filename 
    p= file.filename
  .boxes
    .filesize.outerBar 
      p.barText Size: #{size}  #{sizeUnit}
    .filetype.outerBar
      p.barText Type: #{file.type}
    //
      .downloadLink Link:
        span
          input(type="text", value="#{downloadLink}")
    #download.outerBar.nephritis
      p.barText Download 
    #share.outerBar.peter-river
      p.barText Share
    #delete.outerBar.pomegranate
      p.barText Delete
      


