#breadCrumbs
  each breadCrumb in fileLocation
    span
      span.breadCrumb= breadCrumb
      span.separator >>
#fileInfo 
  .filename Name: 
    span= file.filename
  .filetype Type: 
    span= file.type
  .filesize Size:
    span   #{size}  #{sizeUnit}
  #downloadButton
    button Download 
  .deleteButton
    button Delete
  .moveButton
    button move
    


