#fileInfo 
  .filename 
    p= file.filename
  .boxes
    .filesize.outerBar.asbestos 
      p.barText Size: #{size}  #{sizeUnit}
    .filetype.outerBar.asbestos
      p.barText Type: #{file.type}
    //
      .downloadLink Link:
        span
          input(type="text", value="#{downloadLink}")
    .downloadBtn.outerBar.emeraldBtn.pointer
      p.barText Download 
    #sharing
      .shareBtn.outerBar.peter-riverBtn.pointer
        p.barText Share
      .subItems
        .outerBar.peter-riverBtn.pointer#normalLink
          p.barText Normal Link
        .outerBar.peter-riverBtn.pointer
          p.barText Time Limited Link
        .outerBar.peter-riverBtn.pointer
          p.barText One Time Only Link
    .deleteBtn.outerBar.alizarinBtn.pointer
      p.barText Delete
      


