#fileInfo 
  .filename 
    p= file.filename
  .boxes
    .filesize.outerBar 
      p.barText Size: #{size}  #{sizeUnit}
    .filetype.outerBar
      p.barText Type: #{file.type}
    //
      .downloadLink Link:
        span
          input(type="text", value="#{downloadLink}")
    .downloadBtn.outerBar.nephritis.pointer
      p.barText Download 
    .shareBtn.outerBar.peter-river.pointer
      p.barText Share
    .deleteBtn.outerBar.pomegranate.pointer
      p.barText Delete
      


